.hero {
  min-height: 70vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1501117716987-c8e1ecb210b0") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 20px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 25px;
  font-weight: 700;
}

.search-box {
  background: white;
  padding: 18px;
  border-radius: 14px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;   /* mobile me break ho sake */
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.search-box input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.search-box button {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}