.search-bar {
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.search-bar button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}